body {
  font-family: 'Lato', sans-serif;
}
nav {
    background-color: black;
}

.search {
  padding-left: 1em;
  padding-right: 1em;
}

.navbar {
  line-height: 4em;
  padding: 0;
  width: 100%;
}

a:hover {
  color : green;
}

button {
  color : white;
}

nav a {
  padding: 0.5em;
  font-size: 1.25em;
  color: white;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.list-group-item {
  background-color: black;
}

.navbar-nav {
padding-left: 1em;
}

footer {
    width: 100%;
}

.test {
    height: auto;
    border: green 2px solid;
}

 img {
  width: 100%;
  height: auto;
}

.image1, .image2, .image3 {
  margin: 0;
  padding: 0;
  height: 25em;
}

.relou {
    overflow: hidden;
}

.title {
  color: white;
  margin: 2em 1em;
  z-index: 2;
}

h2 {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5em;
}







@media screen and (max-width: 990px) {
.nav-link {
  border-bottom: solid 1px gray;
}
.home {
  margin-top: 1em;
  border-top: solid 1px gray;
  }
}
