nav {
    background-color: black;
        justify-content: flex-end;
}

nav a {
    color: white;
}

a:hover {
  color : green;
}

button {
  color : white;
}

nav a {
  padding: 0.5em;
  font-size: 1.25em;
}
